.grid{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}
.grid div{
    width: 20px;
    height: 20px;
}
.snake{
    background-color: indianred;
}
.apple{
    background-color: red;
    border-radius: 10px;
}
button{
    padding:10px;
	color: white;
	background: violet;
}
button:hover {
	border: 1px solid gray;
	background-color: #00aacc;
	color: #ffffff;
}
.test{
    background-color: black; 
}